.Navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 10px 0;

  &__icon {
    width: 28px;
    height: 28px;
    padding: 4px;
    border: 1px solid transparent;
    transition: border-color ease-in-out 0.5s;

    &:hover {
      border-color: #1caa8b;
      cursor: pointer;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__icons-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}